canvas { background: #eee; display: block; margin: 0 auto; }

#lobby-table {
    margin-top: 200px;
    margin-left: 25%;
    margin-right: 25%;
}

#menu {
    margin-top: 200px;
    margin-left: 25%;
    margin-right: 25%;
}

#enter-button-container {
    margin-top: 10px;
}

body {
    background: #ffe8e8;
}