canvas { background: #b6b6b6; display: block; margin: 0 auto;}

#lobby-table {
    margin-top: 200px;
    margin-left: 25%;
    margin-right: 25%;
}

.menu {
    margin-top: 200px;
    margin-left: 25%;
    margin-right: 25%;
}

.login-place {
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    position: absolute;
}

.button-container {
    margin-top: 10px;
}

body {
    background: #ffe8e8;
}