<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gamedev Canvas Workshop</title>
    <link href="static/style.css" rel="stylesheet">
</head>
<body>

<canvas id="snakes-game" height="0" width="0"></canvas>

<div id="event-bus"></div>

<script type="module" src="scripts/windows/startMenu.js"></script>
<script type="module" src="scripts/windows/lobbyTable.js"></script>
<script type="module" src="scripts/objects/snake.js"></script>
<script type="module" src="scripts/objects/squareObject.js"></script>

<script type="module" src="scripts/connection.js"></script>
<script type="module" src="scripts/eventBus.js"></script>

</body>
</html>
